<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{>links}}
    <title>Document</title>
</head>
<body>
    {{>navbar}}
<h2>saif</h2>
hello world
<br><br>
  <a href="/templates/views/registration.hbs">
   click here for the registration page 
   </a>
<br>
   <br>
  <a href="/login">
   click here for the login page 
   </a>
</body>
</html>